.babel-row {
  margin: 10px 0;

  overflow: hidden;
  cursor: pointer;
}

.babel-row-main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #f9f9f9; */
  background-color: #e5e7eb;
}

.row-time {
  display: flex;
  align-items: center;
}

.row-time .event-marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.row-details {
  flex: 1;
  margin-left: 20px;
}

.expand-icon {
  display: flex;
  align-items: center;
}

.babel-row-expanded {
  padding: 10px;
  background-color: #fff;
}

.expanded-details div {
  margin: 5px 0;
}
